:root {
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --Linear-gradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%); 
    --Red: hsl(0, 100%, 66%); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* DESIGN */
.design {
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
}
.bg-main {
    background-image: url("images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30%;
    height: 100vh;
}

/* CARD & IT'S DETAILS */
/* CARD */
#card-front {
    position: relative;
    top: 15%;
    left: 30%;
    background-image: url("images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 35vh;
    padding: 30px;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}
#card-back {
    position: relative;
    top: 17%;
    left: 45%;
    background-image: url("images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 35vh;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}
/* IT's Details */
.card-front-details {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
#card-info-number {
    margin: 75px 0 15px 0;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 400;
}
.name-and-expiryDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}
#cardCVC {
    position: relative;
    top: 45%;
    left: 80%;
    width: 20%;
}

/* CARD DETAILS */
#myCardDetails {
    display: flex;
    /* display: none; */
    flex-direction: column;
    margin-left: 350px;
}

input {
    width: 25vw;
    height: 5vh;
    border-radius: 8px;
    padding: 15px;
    border: 2px solid var(--Light-grayish-violet);
    background-color: var(--White);
    font-family: 'Space Grotesk', sans-serif;
    transition: all 0.1s ease;
    cursor: pointer;
}
input::placeholder {
    color: var(--Light-grayish-violet);
}
input:focus {
    outline: none;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
    color: var(--Very-dark-violet);
}

label {
    color: var(--Very-dark-violet);
    padding-top: 20px;
    padding-bottom: 5px;
}

button {
    cursor: pointer;
    height: 45px;
    width: 25vw;
    border-radius: 8px;
    border: none;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.cardExpiryAndCVC {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.card-name {
    display: flex;
    flex-direction: column;
}
.card-number {
    display: flex;
    flex-direction: column;
}
.expiry {
    display: flex;
    flex-direction: column;
}
.expiry input {
    width: 5vw;
}
.cvc {
    display: flex;
    flex-direction: column;
}
.cvc input {
    width: 13vw;
}
/* ERROR */
.error {
    padding-top: 2px;
    font-size: 0.8em;
    color: var(--Red);
}


/* COMPLETE STATE */
#complete {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    margin-left: 350px;
}

#complete img {
    padding-bottom: 22px;
}
#complete h1 {
    padding-bottom: 8px;
}
#complete p {
    padding-bottom: 30px;
}