:root {
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /* (active input border)*/
    --Red: hsl(0, 100%, 66%); /*  (input errors) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.design {
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
}

.bg-main {
    background-image: url("images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30%;
    height: 100vh;
}

/* CARD & IT'S DETAILS */
/* CARD */
#card-front {
    position: relative;
    top: 15%;
    left: 30%;
    background-image: url("images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 35vh;
    padding: 20px;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}
#card-back {
    position: relative;
    top: 17%;
    left: 45%;
    background-image: url("images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 35vh;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

/* IT's Details */
#cardNumber {
    padding-top: 90px;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 400;
}
.nameAndExpiryDate {
    display: flex;
    align-items: center;
    padding-top: 15px;
}
#cardExpriyDate {
    padding-left: 220px;
}
#cardCVC {
    position: relative;
    top: 45%;
    left: 80%;
    width: 20%;
}

/* CARD DETAILS */
.cardDetails {
    display: flex;
    flex-direction: column;
    margin-left: 28%;
}

input {
    width: 25vw;
    height: 5vh;
    border-radius: 8px;
    padding: 15px;
    border: 2px solid var(--Light-grayish-violet);
    background-color: var(--White);
    font-family: 'Space Grotesk', sans-serif;
    transition: all 0.1s ease;
    cursor: pointer;
}
input::placeholder {
    color: var(--Light-grayish-violet);
}
input:focus {
    outline: none;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
    color: var(--Very-dark-violet);
}

label {
    color: var(--Very-dark-violet);
    padding-top: 20px;
    padding-bottom: 5px;
}

button {
    cursor: pointer;
    height: 45px;
    width: 25vw;
    border-radius: 8px;
    border: none;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.name {
    display: flex;
    flex-direction: column;
}
.number {
    display: flex;
    flex-direction: column;
}

.expDate {
    display: flex;
    flex-direction: column;
}
#expriyDate {
    width: 22vh;
}

.cvc {
    display: flex;
    flex-direction: column;
}
#cvc {
    width: 22vh;
    margin-left: 42px;
}
.expDateAndCVC {
    padding-bottom: 20px;
    display: flex;
}
.eD {
    padding-left: 44px;
}

#error {
    display: none;
    font-size: 0.8em;
    color: var(--Red);
}
#error.visible {
    display: block;
}
input.invalid {
    border-color: var(--Red);
}
